<%layout("/layouts/boilerplate")%>
<!-- 
<div class="row mt-3">
    <div class="col-8 offset-2">
        <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" placeholder="Enter Title Here" required>
                <div class="invalid-feedback">Please enter a attractive title.</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="listing[description]" class="form-control" placeholder="Enter Description Here" required></textarea>
                <div class="invalid-feedback">Please enter Description.</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" name="listing[image]" class="form-control"  required>
                <div class="invalid-feedback">Please upload photo of site.</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" class="form-control" placeholder="4500" required>
                <div class="invalid-feedback">Please enter valid price.</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="listing[location]" class="form-control"  required>
                <div class="invalid-feedback">Please enter location of Site.</div>
            </div>
            <div class="mb-3">
                <label for="project_by" class="form-label">Project by</label>
                <input type="text" name="listing[project_by]" class="form-control" >
              
                <div class="invalid-feedback">Please Select developer's name.</div>
            </div>
            <div class="mb-3">
                <label for="property_type" class="form-label">Property Type</label>
                <select type="text" name="listing[property_type]" class="form-control" required> 
                    
                    <option>Residential</option>
                    <option>Commercial</option>
                    <option>Plot</option>
                    
                </select>
                <div class="invalid-feedback">Please Select developer's name.</div>
            </div>
            <div class="mb-3">
                <label for="designed_by" class="form-label">Designed by</label>
                <input type="text" name="listing[designed_by]" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="legal_adviser" class="form-label">Legal Adviser</label>
                <input type="text" name="listing[legal_adviser]" class="form-control" >
            </div>
            <br>
            <button class="btn mt-3">Submit</button>
            <br>

        </form>
    </div>
</div> -->