<!Doctype Html>
<html>
<head>
    <title>Nashik Properties</title>
   
    <link rel="stylesheet" href="index.css">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
   
    <script type='text/javascript' src=''></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
</style>

<body oncontextmenu='return false' class='snippet-body'>
   
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa-solid fa-building-user"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <h3>Nashik Properties</h3>
          </li> &nbsp;
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings">Home</a>
          </li>&nbsp;
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          

          <!-- <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                View  By
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/listings">Sites</a></li>
                <li><a class="dropdown-item" href="/developers">Developers</a></li>
              </ul>
            </div>
        </li> &nbsp; -->
          <!-- <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                View by Type of projects
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/listings/residential">Residential</a></li>
                <li><a class="dropdown-item" href="/listings/commercial">Commercial</a></li>
                <li><a class="dropdown-item" href="/listings/plot">Plot</a></li>
            </ul>
            </div>
        </li> -->
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="navbar-nav ms-auto">
          <% if (currentUser) { %>
            <a class="nav-link " href="listings/new">Add New Project</a>
          <% } %>
          <% if (!currentUser) { %>
            <a class="nav-link " href="/signup">Sign up</a>
            <a class="nav-link" href="/login">Log in</a>
          <% } %>
          
          <% if (currentUser) { %>
            <a class="nav-link" href="/logout">Log out</a>
          <% } %>
          <!-- <a class="nav-link" href="/logout">Log out</a> -->
      </div>
      </div>
    </div>
  </nav>

    <section id="phone_carousel">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">


                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://www.shutterstock.com/image-photo/colorful-city-residential-buildings-clear-260nw-711961411.jpg" class="d-block w-100" alt="..."
                        style="height: 400px;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://media.istockphoto.com/id/803605554/photo/panoramic-view-of-south-central-mumbai-at-golden-hour.jpg?s=2048x2048&w=is&k=20&c=YBbfSLfAeW3zQekS4rPsv3OokEv943XoT0VGwWdUXss="
                        class="d-block w-100" alt="..." style="height: 400px;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://www.zauca.com/wp-content/uploads/Website-Designing-Aizawl.jpg"
                        class="d-block w-100" alt="..." style="height: 400px;">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://en.idei.club/uploads/posts/2023-12/1703271218_en-idei-club-p-one-story-building-design-interer-instagra-2.jpg"
                        class="d-block w-100" alt="..." style="height: 400px;">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>
    <!-- Sure, here are five random names for real estate companies:

    1. Elite Property Group
    2. Prime Realty Solutions
    3. Prestige Estates
    4. Capital City Properties
    5. Grandeur Realty Associates -->
    <section class="pt-5 pb-5 inter-interfont">

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-3">Buildings</h3>
                </div>
                
                <div class="col-6 text-right">
                    <a class="btn btn-dark mb-3 mr-1" href="#carouselExampleIndicators2" role="button"
                        data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-dark mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>

                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">


                                  
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <p class="card-text"></p>

                                                <!-- <button type="button" class="btn btn-dark"><a
                                                        href="phone_specification.html"
                                                         style="text-decoration: none;color: white;">See Details</a>
                                                </button> -->
                                            </div>

                                        </div>
                                    </div>
                                    

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text"></p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text"></p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text"></p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text"></p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text"></p> -->
                                                <!-- <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text">Rs.3000/sq.feet</p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text">Rs.3000/sq.feet</p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4 mb-3">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280"
                                                src="https://i.pinimg.com/736x/0b/13/d7/0b13d7b5a184386a580c133cd4c5d382.jpg">
                                            <div class="card-body">
                                                <h4 class="card-title">Elite Property Group</h4>
                                                <!-- <p class="card-text">Rs.3000/sq.feet</p>
                                                <button type="button" class="btn btn-dark">See Details</button> -->
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>


   <!-- Remove the container if you want to extend the Footer to full width. -->

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #45526e"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Nashik Properties
              </h6>
              <p>
                Here you can fulfill your dream of beautiful home. 
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Our Big Providers : </h6>
              <p>
                <a class="text-white">Roongta Developers</a>
              </p>
              <p>
                <a class="text-white">Gajara Associates</a>
              </p>
              <p>
                <a class="text-white">Anmol Nayantara Group</a>
              </p>
              <p>
                <a class="text-white">Shreeji Groups</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                Importants
              </h6>
              <p>
                <a class="text-white">Follow Us</a>
              </p>
              <p>
                <a class="text-white">Become an Invester</a>
              </p>
              <p>
                <a class="text-white">Legal Advice</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> Nashik, Maharashtra, India</p>
              <p><i class="fas fa-envelope mr-3"></i> nashikproperties@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> 9921053137</p>
              <p><i class="fas fa-print mr-3"></i> 8149904657</p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2024 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/"
                   >Nashik_Properties.com</a
                  >
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <!-- Facebook -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-facebook-f"></i
                ></a>
  
              <!-- Twitter -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-twitter"></i
                ></a>
  
              <!-- Google -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-google"></i
                ></a>
  
              <!-- Instagram -->
              <a
                 class="btn btn-outline-light btn-floating m-1"
                 class="text-white"
                 role="button"
                 ><i class="fab fa-instagram"></i
                ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
 
  <!-- End of .container -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script type='text/javascript'></script>

</body>

</html>